.main_advantages{
    margin-bottom: 52px;

    &__title{
        text-align: center;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 34px;
    }

    .main_advantages__subtitle{
        text-align: center;
        font-size: 16px;
        margin-bottom: 21px;

        &-blogers{
            color: rgba($bl, 0.3);
        }
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        gap: 32px;
    }

    &__inner{
        display: flex;
        flex-flow: column wrap;
    }

    &__list{
        display: flex;
        flex-flow: column wrap;
        gap: 32px;
    }

    &__item{
        @include block;

        &-top{
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            gap: 15px;
        }

        &-title{
            display: inline-block;
            font-size: 18px;
            font-weight: 500;
            color: $yel;
        }

        &-text{
            word-break: break-all;
        }
    }


}