.footer{
    background: $bl;
    color: $white;
    padding: 24px 0;

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    & .menu{
        .menu__list{
            justify-content: center;
        }

        &__item::before, &__item::after{
                background: $white;
        }
    }

    &__copyright{
        text-align: center;
        font-size: 16px;
        color: $white;
        margin-top: 30px;
        filter: contrast(0.3);

        &::first-letter{
            text-transform: uppercase;
    }
    }
}