.header{
    box-shadow: 0 0 10px rgba($bl, 0.6);
}

.header__wrapper{
    padding: 26px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-grow: 1;
    margin-right: 31px;
}

.menu{
    text-transform: capitalize;
    flex-grow: 1;

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;
    }



    &__item{
        position: relative;

        &:last-child{
            color: $yel;
        }

        &::before, 
        &::after{
            content: '';
            position: absolute;
            height: 2px;
            background: $bl;
            top: auto;
            bottom: 0;
            left: 50%;
            right: 50%;
            transition: 0.2s ease-in;
        }

        &:hover::before{
            left: 0;
        }

        &:hover::after{
            right: 0;
        }
    }

}

.authorization{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;

    &__user{
        display: flex;
        align-items: center;
        gap: 18px;

        p::first-letter{
            text-transform: capitalize;
        }
    }
}


