.youtube{
    @include block;

    &__tittle {
        display: inline-flex;
        align-items: center;
        gap: 15px;
        font-size: 24px;
        font-weight: 500;
        text-transform: capitalize;
        
        &::before{
            content: '';
            height: 24px;
            width: 24px;
            display: block;
            background-image: url("./../images/aside/youtube.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__item{
        padding: 20px 0;
        
        &:not(:last-child){
          border-bottom: 2px solid rgba($bl, 0.3);  
        }
    }

    &__link{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;

        &-count{
            flex: 1;
        }

        &::after{
            content: '';
            width: 24px;
            height: 24px;
            background-image: url('./../images/aside/arrow-right.svg');
        }
    }

    &__all{
        display: flex;
        align-items: center;
        gap: 12px;
        
        &-img, &_-text{
            display: inline;
        }
    }
}
