<div class="main_advantages">
    <h1 class="main_advantages__title">Преимущества сервиса</h1>

    <div class="main_advantages__wrapper">
        <div class="main_advantages__inner">
            <h3 class="main_advantages__subtitle">Для пользователя</h3>
            <ul class="main_advantages__list">
                <li class="main_advantages__item">
                    <div class="main_advantages__item-top">
                        <img class="main_advantages__item-img" src="./images/authorization/icon-like.svg" alt="иконка like со звездочками">
                        <h4 class="main_advantages__item-title">Мы - первые</h4>
                    </div>
                    <p class="main_advantages__item-text">
                        Лишь тщательные исследования конкурентов могут быть объявлены нарушающими общечеловеческие нормы этики и морали.
                    </p>
                </li>
                <li class="main_advantages__item">
                    <div class="main_advantages__item-top">
                        <img class="main_advantages__item-img" src="./images/authorization/icon-planet.svg" alt="иконка like со звездочками">
                        <h4 class="main_advantages__item-title">Минимализм</h4>
                    </div>
                    <p class="main_advantages__item-text">
                        Лишь тщательные исследования конкурентов могут быть объявлены нарушающими общечеловеческие нормы этики и морали.
                    </p>
                </li>
            </ul>
        </div>
        <div class="main_advantages__inner">
            <h3 class="main_advantages__subtitle main_advantages__subtitle-blogers">Для блогера</h3>
            <ul class="main_advantages__list">
                <li class="main_advantages__item">
                    <div class="main_advantages__item-top">
                        <img class="main_advantages__item-img" src="./images/authorization/icon-snap.svg" alt="иконка like со звездочками">
                        <h4 class="main_advantages__item-title">Удобство платформы</h4>
                    </div>
                    <p class="main_advantages__item-text">
                        Лишь тщательные исследования конкурентов могут быть объявлены нарушающими общечеловеческие нормы этики и морали.
                    </p>
                </li>
                <li class="main_advantages__item">
                    <div class="main_advantages__item-top">
                        <img class="main_advantages__item-img" src="./images/authorization/icon-dove.svg" alt="иконка like со звездочками">
                    <h4 class="main_advantages__item-title">Свобода</h4>
                    </div>
                    <p class="main_advantages__item-text">
                        Лишь тщательные исследования конкурентов могут быть объявлены нарушающими общечеловеческие нормы этики и морали.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>