<section class="calendar">
    <h2 class="calendar__tittle tittle">календарь</h2>  

    <div class="calendar__inner">
        <h3 class="tittle">cегодня</h3>
        <ul class="calendar__list">
            <li class="calendar__item">
                <p class="calendar__item-time">19:30</p>
                <p class="calendar__item-username">PolitWera</p>
                <button class="calendar__item-btn">
                    <img class="calendar__item-btn__img" src="./images/aside/button-play.svg" alt="Кнопка Play">
                </button>
            </li>
            <li class="calendar__item">
                <p class="calendar__item-time">19:00</p>
                <p class="calendar__item-username">PolitWera</p>
                <button class="calendar__item-btn">
                    <img class="calendar__item-btn__img" src="./images/aside/button-play.svg" alt="Кнопка Play">
                </button>
            </li>
            <li class="calendar__item">
                <p class="calendar__item-time">10:30</p>
                <p class="calendar__item-username">PolitWera</p>
                <button class="calendar__item-btn">
                    <img class="calendar__item-btn__img" src="./images/aside/microphone.svg" alt="Кнопка микрофон">
                </button>
            </li>
            <li class="calendar__item">
                <p class="calendar__item-time">10:00</p>
                <p class="calendar__item-username">PolitWera</p>
                <button class="calendar__item-btn">
                    <img class="calendar__item-btn__img" src="./images/aside/button-play.svg" alt="Кнопка Play">
                </button>
            </li>
        </ul>
    </div>

    <div class="calendar__inner">
        <h3 class="tittle">завтра</h3>
        <ul class="calendar__list">
            <li class="calendar__item">
                <p class="calendar__item-time">10:30</p>
                <p class="calendar__item-username">PolitWera</p>
                <button class="calendar__item-btn">
                    <img class="calendar__item-btn__img" src="./images/aside/microphone.svg" alt="Кнопка микрофон">
                </button>
            </li>
            <li class="calendar__item">
                <p class="calendar__item-time">10:30</p>
                <p class="calendar__item-username">PolitWera</p>
                <button class="calendar__item-btn">
                    <img class="calendar__item-btn__img" src="./images/aside/microphone.svg" alt="Кнопка микрофон">
                </button>
            </li>
            <li class="calendar__item">
                <p class="calendar__item-time">10:00</p>
                <p class="calendar__item-username">PolitWera</p>
                <button class="calendar__item-btn">
                    <img class="calendar__item-btn__img" src="./images/aside/button-play.svg" alt="Кнопка Play">
                </button>
            </li>
        </ul>
    </div>

    <div class="calendar__all">
        <button class="calendar__all-btn">
            <img class="calendar__all-img" src="./images/aside/arrow-down.svg" alt="Стрелка вниз">
            <p class="calendar__all-text">Смотреть весь календарь</p>
        </button>
    </div>
    
</section>