<section class="donate">
    <h2 class="donate__tittle tittle">донат проекту:</h2>  

    <p class="donate__text">Наши передовые материалы во всех сферах науки и техники используются как практически, так и чисто теоретически.</p>

    <h3 class="donate__form-tittle">Сумма</h3>

    <form class="donate__form" method="post" action="index.html" autocomplete="off">
        <input class="donate__form-amount" type="number" placeholder="100 руб.">
        <input class="donate__form-btn" type="submit" value="Пожертвовать">

    </form>
    
</section>