<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <a class="logo" href="#">
                <img class="logo__img" src="./images/logo.svg" alt="site logo">
            </a>
        
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">главная</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">новые блогеры</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">youtube</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link button" href="#">instagram</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link button" href="#">tikTok</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link button" href="#">топ донатеров
                        </a>
                    </li>
                </ul>
            </nav>

            <button class="footer__btn">
                <img class="footer__btn-img" src="./images/footer/button-up.svg" alt="Кнопка прокрутки вверх">
            </button>
        </div>
        
        <p class="footer__copyright">&#169; все права защищены</p>
    </div>
</footer>