<div class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__inner">
                <a class="logo" href="#">
                    <img class="logo__img" src="./images/logo.svg" alt="site logo">
                </a>
            
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a class="menu__link" href="#">главная</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">новые блогеры</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">youtube</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link button" href="#">instagram</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link button" href="#">tikTok</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link button" href="#">топ донатеров
                            </a>
                        </li>
                    </ul>
                </nav>
            
                <button class="authorization__search">
                    <img class="authorization__search-img" src="./images/authorization/search.svg" alt="Кнопка поиска">
                </button>
            </div>
            
            <div class="authorization">
                <img class="authorization__flag" src="./images/authorization/flag_ru.svg" alt="Флаг России">
        
                <div class="authorization__user">
                    <button class="authorization__user-btn">
                        <img class="authorization__notif" src="./images/authorization/bell.svg" alt="Иконка оповещений">
                    </button>
                    
                    <img class="authorization__user-img" src="./images/authorization/avatar.png" alt="Аватар пользователя">
        
                    <div class="authorization__user-data">
                        <p class="authorization__user-data__user-name">pnsyan.photo</p>
                        <p class="authorization__user-data__user-balance">баланс <span>2340</span> р.</p>
                    </div>
                </div>
        
                <button class="authorization__user-logout" >
                    <img class="authorization__user-logout-img" src="./images/authorization/log-out.svg" alt="Кнопка выхода">
                </button>
            </div>
        </div>
    </div>
</div>