<div class="header">
    <a class="logo" href="#">
        <img class="logo__img" src="./images/logo.svg" alt="site logo">
    </a>
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__item">
                <a class="menu__link" href="#">главная</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">новые блогеры</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">youtube</a>
            </li>
            <li class="menu__item">
                <a class="menu__link button" href="#">instagram</a>
            </li>
            <li class="menu__item">
                <a class="menu__link button" href="#">tikTok</a>
            </li>
            <li class="menu__item">
                <a class="menu__link button" href="#">топ донатеров
                </a>
            </li>
        </ul>
    </nav>
    
    <div class="authorization">
        
    </div>
</div>