<div class="main_about">
    <div class="main_about__wrapper">
        <p class="main_about__text">
            Учитывая ключевые сценарии поведения, укрепление и развитие внутренней структуры прекрасно подходит для реализации кластеризации усилий. 
        </p>
        <p class="main_about__text">
            Учитывая ключевые сценарии поведения, укрепление и развитие внутренней структуры прекрасно подходит для реализации кластеризации усилий. 
        </p>
    </div>
    <img class="main__img" src="./images/authorization/foto.png" alt="Картинка с фото блогера">
</div>