<section class="subscribe">
    <h2 class="subscribe__tittle tittle">подписки</h2>  

    <ul class="subscribe__list">
        <li class="subscribe__item">
            <img class="subscribe__avatar" src="./images/aside/avatar_2.png" alt="Аватар пользователя">
            <p class="subscribe__item-username">Мудренич переводит</p>
            <button class="subscribe__item-btn">
                <img class="subscribe__item-btn__img" src="./images/aside/circle.svg" alt="Кнопка Play">
            </button>
        </li>
        <li class="subscribe__item">
            <img class="subscribe__avatar" src="./images/aside/avatar_1.png" alt="Аватар пользователя">
            <p class="subscribe__item-username">PolitWera</p>
            <button class="subscribe__item-btn">
                <img class="subscribe__item-btn__img" src="./images/aside/circle.svg" alt="Кнопка Play">
            </button>
        </li>
        <li class="subscribe__item">
            <img class="subscribe__avatar" src="./images/aside/avatar_3.png" alt="Аватар пользователя">
            <p class="subscribe__item-username">golushko_invest</p>
            <button class="subscribe__item-btn">
                <img class="subscribe__item-btn__img" src="./images/aside/mark.svg" alt="Кнопка Play">
            </button>
        </li>
        <li class="subscribe__item">
            <img class="subscribe__avatar" src="./images/aside/avatar_4.png" alt="Аватар пользователя">
            <p class="subscribe__item-username">sergeymeza</p>
            <button class="subscribe__item-btn">
                <img class="subscribe__item-btn__img" src="./images/aside/circle.svg" alt="Кнопка Play">
            </button>
        </li>
        <li class="subscribe__item">
            <img class="subscribe__avatar" src="./images/aside/avatar_4.png" alt="Аватар пользователя">
            <p class="subscribe__item-username">sergeymeza</p>
            <button class="subscribe__item-btn">
                <img class="subscribe__item-btn__img" src="./images/aside/mark.svg" alt="Кнопка Play">
            </button>
        </li>
        <li class="subscribe__item">
            <img class="subscribe__avatar" src="./images/aside/avatar_5.png" alt="Аватар пользователя">
            <p class="subscribe__item-username">sergeymeza</p>
            <button class="subscribe__item-btn">
                <img class="subscribe__item-btn__img" src="./images/aside/mark.svg" alt="Кнопка Play">
            </button>
        </li>
    </ul>
    
    <button class="subscribe__btn">
        <img class="subscribe__btn-img" src="./images/aside/arrow-down.svg" alt="Стрелка вниз">
        <p class="subscribe__btn-text">Показать еще 75 категорий</p>
    </button>
    
</section>