<section class="youtube">
    <h2 class="youtube__tittle tittle">youtube</h2>  

    <ul class="youtube__list">
        <li class="youtube__item">
            <a class="youtube__link" href="#">
                <p class="youtube__link-text">Развлекательные</p>
                <p class="youtube__link-count">322</p>
                <!-- <img class="youtube__link-img" src="./images/aside/arrow-right.svg" alt="Стрелка вправо"> -->
            </a>
        </li>
        <li class="youtube__item">
            <a class="youtube__link" href="#">
                <p class="youtube__link-text">Тревел блогеры</p>
                <p class="youtube__link-count">1245</p>
                <!-- <img class="youtube__link-img" src="./images/aside/arrow-right.svg" alt="Стрелка вправо"> -->
            </a>
        </li>
        <li class="youtube__item">
            <a class="youtube__link" href="#">
                <p class="youtube__link-text">Новостные</p>
                <p class="youtube__link-count">32</p>
                <!-- <img class="youtube__link-img" src="./images/aside/arrow-right.svg" alt="Стрелка вправо"> -->
            </a>
        </li>
        <li class="youtube__item">
            <a class="youtube__link" href="#">
                <p class="youtube__link-text">Эксперементы</p>
                <p class="youtube__link-count">67</p>
                <!-- <img class="youtube__link-img" src="./images/aside/arrow-right.svg" alt="Стрелка вправо"> -->
            </a>
        </li>
    </ul>

    <button class="youtube__all">
        <img class="youtube__all-img" src="./images/aside/arrow-down.svg" alt="Стрелка вниз">
        <p class="youtube__all-text">Показать еще 75 категорий</p>
    </button>
    
</section>