@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

@import './blocks/_header';

.main{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin:50px 0 32px;

    &__left{
        display: flex;
        flex-flow: column wrap;
        gap: 32px;
        width: 25%;
        
        @import './blocks/calendar';
        @import './blocks/subscribe';
        @import './blocks/reklame';

    }

    &__top{

    }
}

@import './blocks/_footer';

@import 'media';


