@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

@import './blocks/_header';

.main{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin:50px 0 32px;

    &__left{
        width: 25%;
        

        @import './blocks/calendar';
    }

    &__top{

    }
}

@import './blocks/_footer';

@import 'media';


